<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @location.company.name %>
</p>

<p><strong>Courses</strong>
  <% @location.courses.each do |course| %>
  <p><%= course.title %></p>
  <% end %>
</p>
<p><strong>Employees</strong>
  <% @location.employees.each do |employee| %>
  <p><%= employee.name %></p>
<% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
